node_modules
.dist
build
coverage
.env
.env.*
!.env.example
.next
out
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.vscode
.idea
*.tsbuildinfo
./backend/.env
./frontend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local


